.header-title {
  text-align: center;
}

.container {
  margin-top: 0.5rem;
}

.container-form {
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
  padding-left: 5rem;
  
  .input-add-task {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .button-add-task {
    text-align: center;
  }
}

.container-list {
  margin: 1rem;
  ion-list {
    ion-item {
      ion-button {
        --background: #1877F2;
      }
    }
  }
}